<nav class="navbar">
  <ul>
    <li><a href="#inicio" [class.active]="activeSection === 'inicio'">Início</a></li>
    <li><a href="#sobre" [class.active]="activeSection === 'sobre'">Sobre</a></li>
    <li><a href="#projetos" [class.active]="activeSection === 'projetos'">Projetos</a></li>
    <li><a href="#educacao" [class.active]="activeSection === 'educacao'">Educação</a></li>
    <li><a href="#blog" [class.active]="activeSection === 'blog'">Blog</a></li>
    <li><a href="#contato" [class.active]="activeSection === 'contato'">Contato</a></li>
  </ul>
</nav>
