@if (isBrowser && showHeader()) {
  <ngx-particles
    [id]="'tsparticles'"
    [options]="particlesOptions"
    [particlesInit]="particlesInit"
  />
}

@if (showHeader()) {
  <app-header [activeSection]="activeSection()" />
}

@if (isHomePage()) {
  <div class="scroll-container" #scrollContainer tabindex="0">
    <app-home />
    <app-about />
    <app-projects />
    <app-education />
    <app-blog-preview />
    <app-contact />
    <app-footer />
  </div>

  <app-noah
    [activeSection]="activeSection()"
    (navigateTo)="scrollToSection($event)"
  />
}

@if (showHeader()) {
  <aside class="social-sidebar">
    <a href="https://github.com/Ivan-ReisDev" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/ivan-reis-b93b32248" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a
      href="https://wa.me/5521985598348?text=Ol%C3%A1!%20Vim%20pelo%20seu%20site%20e%20gostaria%20de%20conversar%20sobre%20trabalharmos%20juntos.%20Podemos%20trocar%20uma%20ideia%3F"
      target="_blank"
    >
      <i class="fab fa-whatsapp"></i>
    </a>
  </aside>
}

<app-preloader />
<router-outlet />

@if (showHeader() && !isHomePage()) {
  <app-footer />
}

<app-toast />
