<footer class="footer">
  <div class="footer-content">
    <p class="copyright">© {{ currentYear }} - Desenvolvido e projetado por Ivan Reis</p>

    <div class="social-links">
      <a href="https://github.com/Ivan-ReisDev" target="_blank" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/ivan-reis-b93b32248"
        target="_blank"
        aria-label="LinkedIn"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a
        href="https://wa.me/5521985598348?text=Ol%C3%A1!%20Vim%20pelo%20seu%20site%20e%20gostaria%20de%20conversar%20sobre%20trabalharmos%20juntos.%20Podemos%20trocar%20uma%20ideia%3F"
        target="_blank"
        aria-label="WhatsApp"
      >
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>
</footer>
